<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"> <!-- how to render characters -->
  <title>{Some Site</title> <!-- title bar -->
</head>
<body>
<p>Site is currently updated</p>

</body>
</html>