<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"> <!-- how to render characters -->
  <title>Project Home</title> <!-- title bar -->
</head>
<body>
<p>{{message}}</p>

{{> project}}

</body>
</html>